# Documentação interna do projeto (não deve ser publicada)
/internal-docs/

# Dependências e builds (ajustar conforme a stack escolhida)
node_modules/
target/
build/
dist/
.gradle/
*.apk
*.ipa
*.log

# Artefatos de execução dos testes
allure-results/
allure-report/
wdio-logs/
test-results/
.tsbuildinfo

# Ambiente e IDE
.env
.idea/
.vscode/
*.iml
